{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>
    <link rel = ”stylesheet” type = ”text/css” href = "{% static 'css/style.css' %}">
</head>
<body>
<h1>Операционные системы, которые подходят для игр:</h1>

<br>

<br>




<h3>Windows 10.</h3>
<h4>В ней реализована совместимость со всеми актуальными играми и приложениями. </h4>
<button type="button">КУПИТЬ</button><br>


<h3>Ubuntu.</h3>
<h4>Операционная система совместима с широким спектром игр, особенно благодаря интеграции со Steam. Также поддерживает другие игровые платформы, например Lutris и GameHub.</h4>
<button type="button">КУПИТЬ</button><br>


<h3>IOS.</h3>
<h4>При активации режима iOS мгновенно перераспределяет ресурсы устройства, отдавая приоритет игровому приложению. Это означает, что процессор и графический чип работают на максимальной мощности именно для игры, в то время как фоновые процессы других приложений минимизируются или вовсе приостанавливаются.</h4>
<button type="button">КУПИТЬ</button><br>


<h3>Android.</h3>
<h4>Возможность регулировать производительность. На Android игрово режим позволяет пользователю разрешить смартфону либо задействовать ресурсы по максимуму для наибольшей производительности, либо жёстко экономить их (тем самым сохраняя заряд аккумулятора).</h4>
<button type="button">КУПИТЬ</button><br>

<h4>Универсального решения, какой операционной системой пользоваться для игр, нет, так как у каждой из них своя уникальная ниша и набор компромиссов. Выбор зависит от личных предпочтений и потребностей пользователя.</h4>

<br>

<br>

<br>

<form action="{% url 'home' %}">
    <input type="submit" value="Вернуться обратно" />
</form>
<br>

</body>
</html>