<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Главная страница</h1>

<br>
<h3>Список игр:</h3>
<br>
<h3>Mario warriors</h3> <button type="button">КУПИТЬ</button>
<br>
<h3>Deus Ex</h3><button type="button">КУПИТЬ</button>
<br>
<h3>Fallout 3</h3><button type="button">КУПИТЬ</button>
<br>
<br>
<br>
<form action="http://127.0.0.1:8000">
    <input type="submit" value="Вернуться обратно" />
</form>

</body>
</html>