<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel = 'stylesheet' type='text/css' href = '{% static "style.css" %}'>
</head>
<body>
    <header>
        {% block pagename %}
            <h1>Главная страница</h1>
        {% endblock %}
    </header>

<nav>
    {% block menu %}
        <h2><a href="#">{{ text }}</a></h2>
        <h2><a href="{% url 'games' %}">Игры</a></h2>
        <h2><a href="{% url 'cart' %}">Корзина</a></h2>
        <h2><a href="{% url 'platform' %}">Операционные системы</a></h2>
<!--        <p><a href="http://127.0.0.1:8000/by_html/">Регистрация by_html</a></p>-->
        <p><a href="http://127.0.0.1:8000/by_django/">Регистрация by_django</a></p>
        <p><a href="http://127.0.0.1:8000/platform/news/">Новости</a></p>
    {% endblock %}
</nav>

<main>
    {% block content %}
        <p> </p><br>
    {% endblock %}
</main>
</body>
</html>